main {
    overflow-x: hidden;
}

main .game-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-wrapper .join-game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #DDB38C;
    box-shadow: 0 0.5rem 1rem #ddb38cad;
    border-radius: 1rem;
    padding: 2.5rem;
    min-width: 25rem;
}

.game-wrapper .join-game h1 {
    margin: 0 0 1.5rem 0;
}

.game-wrapper .join-game .join-options {
    display: flex;
    gap: 1rem;
    width: 100%;
}



#help {
    position: fixed;
    bottom: 0.75rem;
    right: 0.75rem;
    display: flex;
}

#help .icon {
    margin: 0 0 0 0.75rem;
}

.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper .modal {
    min-width: 30rem;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5);
    background: #fff;
    border-radius: 1rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-wrapper .modal .icon {
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-wrapper .modal h1 {
    margin: 0 0 1.5rem 0;
}

.modal-wrapper .modal input {
    background: #eee;
}

.modal-wrapper .modal button {
    --box-shadow-color: #ddb38cad;
    background: #DDB38C;
}

#room-id { 
    font-size: 1rem;
    position: fixed;
    left: 1rem;
    top: 1rem;
}
